@{
    ViewData["Title"] = "Welcome SerkanBilsel.io";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SerkanBilsel.Io</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/codemirror.css" rel="stylesheet" />
    <script src="/js/codemirror.js"></script>
    <script src="/xml.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

</head>
<body>
    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="title">
        
            <span>SERKAN BILSEL</span>
            <br />
            <span class="enter">
                <a href="///">ENTER</a>
            </span>
        </div>
    </section>


    <div class="menu">
        <div class="toggle">
            <div class="avatar">
                <img src="https://i.ibb.co/k8zVK7L/sbavatar.jpg">
            </div>

        </div>
        <li style="--i:0;">
            <a href=""><ion-icon name="home-outline"></ion-icon></a>
        </li>
        <li style="--i:0;">
            <a href=""><ion-icon name="person-outline"></a>
        </li>
        <li style="--i:1;">
            <a href="https://github.com/serkanbilsel" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
        </li>
        <li style="--i:2;">
            <a href="https://www.linkedin.com/in/serkanbilsel/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
        </li>
        <li style="--i:3;">
            <a href="mailto:serkanbilsel@gmail.com" target="_blank"><ion-icon name="mail-unread-outline"></ion-icon></a>
        </li>
        <li style="--i:4;" button id="openPopup">
            <a>
                <ion-icon name="code-working-outline"></ion-icon>
            </a>
        </li>
        <li style="--i:5;">
            <a><ion-icon name="code-working-outline">
                    <div class="code-editor">
                       
                       
                    </div>
            </ion-icon>
            </a>
        </li>
    </div>
    
    <script src="script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css">




</body>


</html>