@{
    ViewData["Title"] = "Welcome SerkanBilsel.io";
}
<html>
<head>
    <meta charset="utf-8" />
    <title>SerkanBilsel.Io</title>
</head>








<body>

    <section class="me1">
        <div class="me1-content">
            <h1>Hi, I'm Serkan Bilsel</h1>
            <h3>Full Stack Developer</h3>
            <p>
                "I live in Istanbul, Turkey. I have received a Full Stack training at Siliconmade Academy for 27 weeks. Currently, I am continuing my education in Mobile Software Development expertise. In this application where I introduced myself, you can examine some of my skills. Your information security is my priority. Thank you for visiting me.<br /> Goodbye for now, looking forward to working together."
            </p>
            <div class="btx-box">
                <a href="">Hire Me</a>
                <a href="https://wa.me/+905077149058" target="_blank">Let's Talk</a>
            </div>
        </div>

        <a><img src="~/img/sb2.jpg" class="avatar"></a>

    </section>












    <script src="script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css">

</body>
</html>