<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - serkanbilsel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/serkanbilsel.styles.css" asp-append-version="true" />
  
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="/xml.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
</head>
  <section class="wrapper">
  @*   <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>  *@
</section>   
<body>
    <header>
        <section class="wrapper">
            <div id="title">
                <span></span>
                <br />
                <span class="enter">
                    
                    @*  <a href="///">enter backend</a> *@
                </span>
            </div>
        </section>
        

        <div class="header">
            <a href="" class="logo">SERKAN</a>
            <nav class="navbar">

               
                <a asp-action="Index" asp-controller="Portfolio">Portfolio</a>
                <a asp-action=" " asp-controller="">Contact</a>

            </nav>
        </div>
      
    </header>
    <div class="">
        <main role="main">
            @RenderBody()
        </main>
    </div>

      <footer class="border-top footer text-muted"> 
     <div class="container">
    &copy; 2023 - serkanbilsel - <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
    </div> 
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
